In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "Latin-1")

In [4]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
df.to_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", index=False)

In [18]:
url='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

In [10]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [87]:
a=my_tuppy=(1,2,5,8)

In [86]:
my_tuppy[2]=6

TypeError: 'tuple' object does not support item assignment

In [88]:
a

(1, 2, 5, 8)

In [64]:
foodb=df.groupby('Area')['Y2017'].sum().sort_values(ascending=True)

In [65]:
print (foodb)

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [42]:
pd.DataFrame([[35,'Portugal',94],[33,'Argentina',93],[30,'Brazil',92]], columns=['Age', 'Nationality','Overall'], index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [77]:
df.groupby(['Y2015','Y2018'])['Item'].sum()

Y2015      Y2018
-3161.0    -296.0       Cereals - Excluding Beer
-2152.0    -597.0             Maize and products
-1284.0     1898.0      Cereals - Excluding Beer
-907.0     -529.0       Cereals - Excluding Beer
-887.0      163.0           Sorghum and products
                                  ...
 92443.0    98424.0                   Population
 100835.0   109224.0                  Population
 110798.0   117038.0               Starchy Roots
 111663.0   118172.0               Starchy Roots
 181137.0   195875.0                  Population
Name: Item, Length: 14814, dtype: object

In [79]:
df.groupby('Element')['Y2017'].sum().sort_values(ascending=True)

Element
Tourist consumption                            91.00
Fat supply quantity (g/capita/day)          10253.84
Protein supply quantity (g/capita/day)      11842.45
Seed                                        24870.14
Residuals                                   35500.00
Food supply quantity (kg/capita/yr)         48690.04
Stock Variation                             54316.91
Other uses (non-food)                       91645.97
Losses                                     160614.00
Export Quantity                            182338.80
Feed                                       223705.68
Processing                                 292836.00
Import Quantity                            294559.09
Food supply (kcal/capita/day)              454681.00
Total Population - Both sexes             1112641.00
Food                                      1258888.28
Production                                2030056.89
Domestic supply quantity                  2088198.10
Name: Y2017, dtype: float64

In [91]:
df['Y2017'].mean()

140.9177648602722

In [92]:
df['Y2017'].std()

1671.8623590572788

In [103]:
df.groupby('Area')['Y2015'].sum()

Area
Algeria                         324058.40
Angola                          209565.67
Benin                           108181.13
Botswana                         23024.85
Burkina Faso                    102701.22
Cabo Verde                       14538.93
Cameroon                        225220.72
Central African Republic         28885.34
Chad                             65835.88
Comoros                             41.34
Congo                            40255.51
CÃ´te d'Ivoire                   211591.29
Djibouti                         23690.16
Egypt                           868218.73
Eswatini                         54072.07
Ethiopia                        429139.33
Ethiopia PDR                         0.00
Gabon                            28367.30
Gambia                           19665.39
Ghana                           311092.13
Guinea                           92803.39
Guinea-Bissau                    17990.06
Kenya                           265506.19
Lesotho                          17965.84
Liberia                          28698.10
Madagascar                      126674.90
Malawi                          167989.09
Mali                            132456.58
Mauritania                       61909.99
Mauritius                        53372.42
Morocco                         412473.80
Mozambique                      158231.17
Namibia                          30687.90
Niger                           117834.65
Nigeria                        1414362.83
Rwanda                           70138.83
Sao Tome and Principe            12386.93
Senegal                          91939.14
Seychelles                         358.20
Sierra Leone                     62523.14
South Africa                    468352.18
Sudan                           230652.54
Sudan (former)                       0.00
Togo                             47834.59
Tunisia                         128211.41
Uganda                          220615.72
United Republic of Tanzania     341969.46
Zambia                           96214.00
Zimbabwe                         74041.79
Name: Y2015, dtype: float64

In [119]:
df.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [117]:
S=[['him','sell'], [90,28,43]]

In [118]:
S[0][1][1]

'e'

In [120]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [122]:
df.groupby(['Element','Area']).sum()

C:\Users\user\AppData\Local\Temp\ipykernel_6092\948944822.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Element','Area']).sum()

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]